<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}{{g.siteName}}{% endblock %}</title>
    {% endblock %}
</head>
<nav>
    {% block navigation %}  
        <a class="active" href="/">Home</a>
    {% endblock %}
</nav>
<header>
    {% block header %}{% endblock %}
</header>
<body>
    <section class="content">
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>
<footer>
    {% block footer %}
    Powered by Python and HIW.
    {% endblock %}
</footer>
</html>


